Praticas/P1/ex2/project-files/dynamips/*.ghost filter=lfs diff=lfs merge=lfs -text
Praticas/P7/ex5/project-files/dynamips/c3725-advipservicesk9-mz.124-21.image-128.ghost filter=lfs diff=lfs merge=lfs -text
